<!DOCTYPE html>
<html>
	<head>
		<title>Login - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Login</h1>
		<form action="{% url 'user:login' %}" method="post">
			{% csrf_token %}
			<div><input type="text", name="username", placeholder="Username"></div>
			<div><input type="password", name="password", placeholder="Password"></div>
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div><input type="submit" value="Login"></div>
		</form>
		<a href="{% url 'user:register' %}">Don't have an account? Register >></a>
	</body>
</html>