<!DOCTYPE html>
<html>
	<head>
		<title>Login - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Login</h1>
		<form action="{% url 'user:login' %}" method="post">
			{% csrf_token %}
			<div>
				{{ form.username.label_tag }}
				{{ form.username }}
			</div>
			<div>
				{{ form.password.label_tag }}
				{{ form.password }}
			</div>
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div><input type="submit" value="Login"></div>
		</form>
		<a href="{% url 'user:register' %}">Don't have an account? Register >></a>
	</body>
</html>