<!DOCTYPE html>
<html>
	<head>
		<title>Register - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Register</h1>
		<form action="{% url 'user:login' %}" method="post">
			{% csrf_token %}
			<p><input type="text", name="username", placeholder="Username"></p>
			<p><input type="password", name="password", placeholder="Password"></p>
			<p><input type="password", name="password2", placeholder="Confirm Password"></p>
			<p><input type="text", name="address", placeholder="Address"></p>
			<p><input type="text", name="contactInfo", placeholder="Contact Info"></p>
			{% if message %}
			<p>{{ message }}</p>
			{% endif %}
			<p><input type="submit" value="Login"></p>
		</form>
	</body>
</html>