<!DOCTYPE html>
<html>
	<head>
		<title>Register - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Register</h1>
		<form action="{% url 'user:register' %}" method="post">
			{% csrf_token %}
			<div>
				{{ form.username.label_tag }}
				{{ form.username }}
			</div>
			<div>
				{{ form.password.label_tag }}
				{{ form.password }}
			</div>
			<div>
				{{ form.cpassword.label_tag }}
				{{ form.cpassword }}
			</div>
			<div>
				{{ form.address.label_tag }}
				{{ form.address }}
			</div>
			<div>
				{{ form.phone.label_tag }}
				{{ form.phone }}
			</div>
			<div>
				{{ form.email.label_tag }}
				{{ form.email }}
			</div>
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div><input type="submit" value="Register"></div>
		</form>
		{% for field in form %}
		{{ field.errors }} 
		{% endfor %}
		<a href="{% url 'user:login' %}">Already have an account? Login >></a>
	</body>
</html>