<!DOCTYPE html>
<html>
	<head>
		<title>Register - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Register</h1>
		<form action="{% url 'user:login' %}" method="post">
			{% csrf_token %}
			<div><input type="text", name="username", placeholder="Username"></div>
			<div><input type="password", name="password", placeholder="Password"></div>
			<div><input type="password", name="password2", placeholder="Confirm Password"></div>
			<div><input type="text", name="address", placeholder="Address"></div>
			<div><input type="text", name="contactInfo", placeholder="Contact Info"></div>
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div><input type="submit" value="Register"></div>
		</form>
		<a href="{% url 'user:login' %}">Already have an account? Login >></a>
	</body>
</html>