<!DOCTYPE html>
<html>
	<head>
		<title>Item Detail - HelpGoodsWeb</title>
	</head>
	<body>
		<h1>Item Detail</h1>
		{% load customtags %}
		<div>Categlory: {{ item.categlory }}</div>
		<div>Item Name: {{ item.name }}</div>
		<div>Description: {{ item.description }}</div>
		{% for attr, value in extra.items %}
		<div>{% titler attr %}: {{ value }}</div>
		{% endfor %}
		<div>Publisher: <a href="{% url 'user:detail'%}?username={{ item.publisher }}">{{ item.publisher }}</a></div>
		<div>Address: {{ item.address }}</div>
		<div>Phone Number: <a href="tel://{{ item.phone }}">{{ item.phone }}</a></div>
		<div>Email: <a href="mailto:{{ item.email }}">{{ item.email }}</a></div>
	</body>
</html>