<!DOCTYPE html>
<html>
	<head>
		{% block title %}
		<title>New {{ category }} - HelpGoodsWeb</title>
		{% endblock %}
	</head>
	<body>
		{% block header %}
		<h1>New {{ category }}</h1>
		{% endblock %}
		{% load customtags %}
		{% block form %}
		<form action="{% url 'item:new' category %}" method="post">
		{% endblock %}
			{% csrf_token %}
			{{ form.as_div }}
			{% for attr, value in attributes %}
			<div>
				<label>{% titler attr %}: </label>
				<input type="text" name="{% underline attr %}" value={{ value }}>
			</div>
			{% endfor %}
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div>
				{% block submit %}
				<input type="submit" value="Add">
				{% endblock %}
			</div>
		</form>
	</body>
</html>