<!DOCTYPE html>
<html>
	<head>
		{% block title %}
		<title>New Item - HelpGoodsWeb</title>
		{% endblock %}
	</head>
	<body>
		{% block header %}
		<h1>New Item</h1>
		{% endblock %}
		{% block form %}
		<form action="{% url 'item:new' %}" method="post">
		{% endblock %}
			{% csrf_token %}
			{{ form.as_div }}
			{% if message %}
			<div>{{ message }}</div>
			{% endif %}
			<div>
				{% block submit %}
				<input type="submit" value="Add">
				{% endblock %}
			</div>
		</form>
	</body>
</html>