<!DOCTYPE html>
<html>
	<head>
		<title>Item List - HelpGoodsWeb</title>
		<style>
			table {
				border: 1px solid black;
				border-collapse: collapse;
			}
			td {
				border: 1px solid black;
				padding: 2px;
			}
			th {
				border: 1px solid black;
				padding: 2px;
			}
		</style>
	</head>
	<body>
		<h1>Item List</h1>
		<div>
			Current User: <a href="{% url 'user:detail' %}?username={{ user.username }}">{{ user.username }}</a>
		</div>
		<table>
			<thead>
				<th>Item Name</th>
				<th>Description</th>
				<th>Publisher</th>
				<th>Address</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Operation</th>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td><a href="{% url 'item:detail'%}?id={{ item.id }}">{{ item.itemname }}</a></td>
					<td>{{ item.description }}</td>
					<td><a href="{% url 'user:detail'%}?username={{ item.publisher }}">{{ item.publisher }}</a></td>
					<td>{{ item.address }}</td>
					<td><a href="tel://{{ item.phone }}">{{ item.phone }}</a></td>
					<td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
					<td>
						{% if user.username == item.publisher %}
						<a href="{% url 'item:edit' %}?id={{ item.id }}">Edit</a>
						<a href="{% url 'item:delete' %}?id={{ item.id }}">Delete</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'item:new' %}">Add new item</a>
	</body>
</html>